# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Elpa folder
elpa

# Local configuration file
custom.el

# Helm
helm*

# Projectile files
projectile-bookmarks.eld

# Recentf file
recentf

# Lsp sessions
.lsp-session*

# Places
/places

